<div id="<%= dom_id task %>">
  <table>

    <thead>
      <tr>
        <th>ID</th>
        <th>Task Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
          <td><%= task.id%></td>
          <td><%= task.name%></td>
          <td><%= task.description%></td>
          <td><%= task.deadline%></td>
        </tr>
    </tbody>

  </table>
</div>
